server:
  port: 8082

spring:
  application:
    name: cart-service
  
  # Configuración MongoDB
  data:
    mongodb:
      uri: mongodb://localhost:27017/supermarket_cart
      # Mongo crea la DB automáticamente al escribir datos
  
  # Configuración RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    template:
      observation-enabled: true # <--- ESTO ES VITAL PARA VER LA TRAZA EN RABBIT
      
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  tracing:
    sampling:
      probability: 1.0



  
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  file:
    name: ../logs/cart-service.log
  level:
    root: INFO